<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:border-radius="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <title>MoviePlex~Cinema's Paradise</title>
    <link rel="stylesheet" href="../static/css/Login.css" th:href="@{/css/Login.css}"/>
    <meta name="viewport" content="width=device-width,initial-scale=0.5">
</head>
<body>
<div class="headers">
    <div class="header_1">
        <img class="header_img"  src="../static/logos/movie.JPG" th:src="@{logos/movie.JPG}">
    </div>z
</div>
</body>
</html>